@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap');

:root {
	--font: 'DM Sans', sans-serif;
	--pure-black: #000000;
	--pure-white: rgb(255, 255, 255);
	--pure-white-25: rgba(255, 255, 255, 0.25);
	--light-grey: #dfdfdf;
	--accent: linear-gradient(28deg, #ffc593 1%, #bc7198 51%, #5a77ff 100%);
	--max-mobile-width: 375px;
	--max-tablet-width: 768px;
	--min-desktop-width: 768px;
	--max-desktop-width: 1440px;
}

body {
	font-family: var(--font);
	color: var(--pure-black);
	max-width: var(--max-desktop-width);
	margin: 0 auto;
}

.wrapper::after {
	content: '';
	width: 6px;
	height: 304px;
	display: block;
	position: fixed;
	top: 320px;
	background-image: var(--accent);
	border-radius: 0 10px 10px 0;
}

nav {
	background-color: var(--pure-white);
	color: var(--pure-black);
	& ul {
		display: flex;
		padding: 28px;
		justify-content: space-between;
		align-items: center;
		margin-block: 0px;
		list-style: none;
		gap: 8px;
		& li a {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			color: var(--pure-black);
			background-color: var(--pure-white);
			padding: 12px 12px;
			&.button-link {
				color: var(--pure-white);
				background-color: var(--pure-black);
				padding: 12px 24px;
				&:hover {
					background-color: var(--light-grey);
					color: var(--pure-black);
				}
			}
			&:hover {
				color: var(--light-grey);
			}
			&.current {
				background-image: var(--accent);
				color: var(--pure-white);
				padding: 12px 24px;
			}
		}
	}
}

.card-wrapper {
	display: flex;
	flex-direction: column;

	& .card {
		background-color: var(--pure-white);
		padding-inline: 33px 24px;
		padding-block-end: 92px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		& h2 {
			text-transform: uppercase;
			margin-block: 0px;
			padding-block-start: 72px;
			padding-block-end: 8px;
		}
		& p {
			opacity: 0.6;
		}
		& img {
			translate: -33px;
			width: 118%;
			max-height: 285px;
			object-fit: cover;
			object-position: 20% 50%;
		}
		& a {
			color: var(--pure-black);
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 2px;
		}
	}
	& .card.createbg {
		background-color: var(--pure-black);
		color: var(--pure-white);
		& a {
			color: var(--pure-white);
		}
	}
}

.photo-wrapper {
	display: flex;
	flex-direction: column;

	& .photo-card {
		background-color: var(--pure-white);
		padding-inline: 33px 24px;
		padding-block-end: 70px;
		overflow: hidden;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.27%, rgba(0, 0, 0, 0.66) 100%);
		position: relative;
		&:hover {
			translate: 0 -10px;
			&::after {
				content: '';
				background-image: var(--accent);
				height: 6px;
				width: 100%;
				display: block;
				position: absolute;
				bottom: 0px;
			}
		}
		& h2 {
			text-transform: uppercase;
			margin-block: 0px;
		}

		& img {
			translate: -33px;
			width: 118%;
			/* max-height: 285px; */
			object-fit: cover;
			object-position: 20% 50%;
			aspect-ratio: 1/1;
			mix-blend-mode: multiply;
			margin-bottom: -210px;
		}
		& .photo-card--inner {
			translate: 0 57px;
			position: relative;
			color: var(--pure-white);
		}
		& p.photo-title {
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
		}
		& p.photo-author {
			font-weight: 400;
			font-size: 13px;
			line-height: normal;
			translate: 0 -16px;
		}
		& p.photo-context {
			font-weight: 400;
			font-size: 13px;
			line-height: normal;
			translate: 0 16px;
		}
		& a.photo-link {
			display: block;
			border-top: var(--pure-white-25) 1px solid;
			padding-block-start: 20px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 2px;
		}
	}
	& .card.createbg {
		background-color: var(--pure-black);
		color: var(--pure-white);
	}
}

.about {
	text-align: center;
	& ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-inline-start: 0px;
	}
	& li.about-card {
		margin-block: 16px;
		padding: 16px;
		& img {
			margin-block: 32px;
			min-height: 72px;
		}
		& h3 {
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 25px; /* 138.889% */
			margin-block-end: 16px;
			padding-inline: 16px;
		}
		& p {
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 25px; /* 166.667% */
			opacity: 0.6;
			padding-inline: 16px;
		}
	}
}
footer {
	background-color: var(--pure-black);
	color: var(--pure-white);
	padding-block: 56px;
	& .footer--inner {
		display: flex;
		flex-direction: column;
		gap: 32px;
		text-align: center;
		max-width: 310px;
		margin: 10px auto;
		& img.logo {
			padding-inline: 64px;
		}
		& p {
			opacity: 0.6;
		}
		& ul {
			list-style: none;
			padding-inline-start: 0px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			&.social-links {
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
}

span.author {
	opacity: 1;
}
a {
	color: var(--pure-white);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2px;
	&.button-arrow::after {
		content: '';
		margin-inline-start: 8px;
		display: inline-block;
		width: 42px;
		height: 12px;
		background-image: url('./lib/assets/shared/desktop/arrow.svg');
	}
	&.dark.button-arrow::after {
		content: '';
		margin-inline-start: 8px;
		display: inline-block;
		width: 42px;
		height: 12px;
		background-image: url('./lib/assets/shared/desktop/arrow-darkbg.svg');
	}
	&.dark.photo-link.button-arrow::after {
		content: '';
		margin-inline-start: 8px;
		display: inline-block;
		width: 42px;
		height: 12px;
		background-image: url('./lib/assets/shared/desktop/arrow-darkbg.svg');
	}
	&:visited {
		color: inherit;
	}
}

/* @media mobile specific */
@media screen and (max-width: 375px) {
	.wrapper::after {
		display: none;
	}
	.mobile-hidden {
		display: none;
	}
	.card-wrapper .card {
		display: flex;
		flex-direction: column;
	}
	.card-wrapper .card img {
		width: 100vw;
		object-fit: cover;
		object-position: 20% 50%;
	}
	.createbg h2::before {
		content: '';
		width: 128px;
		height: 6px;
		display: block;
		background-image: var(--accent);
		border-radius: 0 0 10px 10px;
		translate: 0 -72px;
	}
	.photo-wrapper .photo-card img {
		width: 100vw;
	}
	body {
		max-width: var(--max-phone-width);
	}
}
/* @media tablet specific */
@media screen and (min-width: 768px) {
	.mobile-hidden {
		display: flex;
	}
	.card-wrapper .card {
		padding-inline: 0px;
		padding-block-end: 0px;
	}
	.card-wrapper .card.picture-right {
		display: grid;
		grid-template-areas:
			'. . picture'
			'header header picture'
			'content content picture'
			'cta cta picture'
			'. . picture';
		grid-template-columns: 1fr 1fr 273px;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card.full-picture {
		display: grid;
		grid-template-areas:
			'. . picture'
			'extra extra picture'
			'header header picture'
			'context context picture'
			'content content picture'
			'cta cta picture'
			'. . picture';
		grid-template-columns: 1fr 1fr 273px;
		grid-template-rows: 173px auto auto auto auto auto 173px;
	}
	.card-wrapper .card.picture-left {
		display: grid;
		grid-template-areas:
			'picture . .'
			'picture header header'
			'picture content content'
			'picture cta cta'
			'picture . .';
		grid-template-columns: 273px 1fr 1fr;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card img {
		grid-area: picture;
		translate: none;
		height: 100%;
		max-height: inherit;
		object-position: center;
		width: 100%;
		aspect-ratio: auto;
	}
	.card-wrapper .card.card.full-picture img {
		grid-area: none;
		grid-column: 1/6;
		grid-row: 1/8;
	}
	.card-wrapper .card h2 {
		grid-area: header;
		padding-inline: 54px;
		font-size: 40px;
		line-height: 48px; /* 120% */
		letter-spacing: 4.167px;
	}
	.card-wrapper .card .card-extra-context {
		grid-area: extra;
		padding-inline: 54px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
		opacity: 1;
		text-transform: uppercase;
	}
	.card-wrapper .card .card-story-context {
		grid-area: context;
		padding-inline: 54px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
	}
	.card-wrapper .card p {
		grid-area: content;
		padding-inline: 54px;
	}
	.card-wrapper .card a {
		grid-area: cta;
		padding-inline: 54px;
	}
	.photo-wrapper {
		display: grid;
		grid-template-areas: 'picture picture';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.photo-wrapper .photo-card {
		width: 100%;
		padding-inline: 0px 0px;
		padding-block-end: 70px;
	}
	.photo-wrapper .photo-card--inner {
		padding-inline: 44px;
	}
	.photo-wrapper .photo-card img {
		/* width: 100%; */
		padding-inline: 0px 0px;
		object-fit: cover;
	}
	footer {
		& .footer--inner {
			display: grid;
			max-width: 689px;
			margin: 64px auto;
			grid-template-areas:
				'logo . cta'
				'links links .'
				'socials . copyright';
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto auto;
			text-align: inherit;
			& img.logo {
				grid-area: logo;
				padding-inline: 0px;
			}
			& a.button-arrow {
				grid-area: cta;
				text-align: right;
			}
			& ul.footer-links {
				grid-area: links;
				flex-direction: row;
			}
			& ul.social-links {
				grid-area: socials;
			}
			& p.footer-copyright {
				grid-area: copyright;
				text-align: right;
			}
		}
	}
	body {
		max-width: var(--max-tablet-width);
	}
}

/* @media desktop specific */
@media screen and (min-width: 900px) {
	.mobile-hidden {
		display: flex;
	}
	.card-wrapper .card {
		padding-inline: 0px;
		padding-block-end: 0px;
	}
	.card-wrapper .card.picture-right {
		display: grid;
		grid-template-areas:
			'. . picture'
			'header header picture'
			'content content picture'
			'cta cta picture'
			'. . picture';
		grid-template-columns: 1fr 1fr 273px;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card.picture-left {
		display: grid;
		grid-template-areas:
			'picture . .'
			'picture header header'
			'picture content content'
			'picture cta cta'
			'picture . .';
		grid-template-columns: 273px 1fr 1fr;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card img {
		grid-area: picture;
		translate: none;
		height: 100%;
		max-height: inherit;
		object-position: center;
		width: 100%;
		aspect-ratio: auto;
	}
	.card-wrapper .card h2 {
		grid-area: header;
		padding-inline: 54px;
		font-size: 40px;
		line-height: 48px; /* 120% */
		letter-spacing: 4.167px;
	}
	.card-wrapper .card p {
		grid-area: content;
		padding-inline: 54px;
	}
	.card-wrapper .card a {
		grid-area: cta;
		padding-inline: 54px;
	}
	.photo-wrapper {
		display: grid;
		grid-template-areas: 'picture picture picture picture';
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 370px;
	}
	.photo-wrapper .photo-card {
		width: 100%;
		padding-inline: 0px 0px;
	}
	.photo-wrapper .photo-card .photo-card--inner {
		padding-inline: 44px;
		translate: 0 -194px;
	}
	.photo-wrapper .photo-card img {
		/* width: 100%; */
		padding-inline: 0px 0px;
		object-fit: cover;
		translate: -33px;
		width: 118%;
		max-height: inherit;
		mix-blend-mode: multiply;
		margin-bottom: 0px;
		aspect-ratio: auto;
	}
	footer {
		& .footer--inner {
			display: grid;
			/* max-width: 1104px; */
			gap: 16px 36px;
			margin: 64px auto;
			grid-template-areas:
				'logo links cta'
				'. links .'
				'socials links copyright';
			grid-template-columns: 255px 1fr 1fr;
			grid-template-rows: auto auto auto;
			text-align: inherit;
			& img.logo {
				grid-area: logo;
				padding-inline: 0px;
			}
			& a.button-arrow {
				grid-area: cta;
			}
			& ul.footer-links {
				grid-area: links;
				flex-direction: column;
				margin-block-start: 0px;
			}
			& ul.social-links {
				grid-area: socials;
			}
			& p.footer-copyright {
				grid-area: copyright;
			}
		}
	}
	body {
		max-width: var(--max-desktop-width);
	}
	.about {
		text-align: center;
		& ul {
			list-style: none;
			display: flex;
			flex-direction: row;
		}
	}
}

@media screen and (min-width: 1080px) {
	.photo-wrapper .photo-card .photo-card--inner {
		padding-inline: 44px;
		translate: 0 -23px;
	}
	.photo-wrapper .photo-card img {
		/* width: 100%; */
		padding-inline: 0px 0px;
		object-fit: cover;
		translate: -33px;
		width: 118%;
		max-height: inherit;
		mix-blend-mode: multiply;
		margin-bottom: -273px;
	}
}
