@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap');

:root {
	--font: 'DM Sans', sans-serif;
	--pure-black: #000000;
	--pure-white: rgb(255, 255, 255);
	--pure-white-25: rgba(255, 255, 255, 0.25);
	--light-grey: #dfdfdf;
	--accent: linear-gradient(28deg, #ffc593 1%, #bc7198 51%, #5a77ff 100%);
	--max-mobile-width: 375px;
	--max-tablet-width: 768px;
	--min-desktop-width: 1110px;
	--max-desktop-width: 1440px;
}

body {
	font-family: var(--font);
	color: var(--pure-black);
	max-width: var(--max-desktop-width);
	margin: 0 auto;
}

.wrapper::after {
	content: '';
	width: 6px;
	height: 304px;
	display: block;
	position: fixed;
	top: 320px;
	background-image: var(--accent);
	border-radius: 0 10px 10px 0;
}

nav {
	background-color: var(--pure-white);
	color: var(--pure-black);
	& ul {
		display: flex;
		padding: 28px;
		justify-content: space-between;
		align-items: center;
		margin-block: 0px;
		list-style: none;
		gap: 8px;
		& li a {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			color: var(--pure-black);
			background-color: var(--pure-white);
			padding: 12px 12px;
			&.button-link {
				color: var(--pure-white);
				background-color: var(--pure-black);
				padding: 12px 24px;
				&:hover {
					background-color: var(--light-grey);
					color: var(--pure-black);
				}
			}
			&:hover {
				color: var(--light-grey);
			}
			&:focus-within {
				filter: drop-shadow(0 0 4px #bc7198);
				outline: none;
			}
			&:focus {
				filter: drop-shadow(0 0 4px #bc7198);
				outline: none;
			}
			&.current {
				background-image: var(--accent);
				color: var(--pure-white);
				padding: 12px 24px;
			}
		}
	}
}

.card-wrapper {
	display: flex;
	flex-direction: column;

	& .card {
		background-color: var(--pure-white);
		padding-inline: 33px 24px;
		padding-block-end: 92px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		& h2 {
			text-transform: uppercase;
			margin-block: 0px;
			padding-block-start: 42px;
			padding-block-end: 8px;
		}
		& p {
			opacity: 0.6;
		}
		& p.card-extra-context {
			text-transform: uppercase;
			translate: 0 46px;
			opacity: 1;
		}
		& img {
			translate: -33px;
			width: 118%;
			max-height: 285px;
			object-fit: cover;
			object-position: 20% 50%;
		}
		& a {
			color: var(--pure-black);
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 2px;

			&:focus {
				filter: drop-shadow(0 0 4px #bc7198);
				outline: none;
				text-decoration: underline;
			}
		}
	}
	& .card.createbg {
		background-color: var(--pure-black);
		color: var(--pure-white);
		& a {
			color: var(--pure-white);
		}
	}
}
.select-plan {
	& .select-plan--inner {
		padding-inline: 28px;
		margin-block-start: 48px;
		& .timeperiod-toggle {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-block-end: 48px;
			& button {
				appearance: none;
				/* display: contents; */
				margin-inline: 32px;
				background-color: transparent;
				border: none;
				&:hover {
					cursor: pointer;
				}
				&:focus-within {
					filter: drop-shadow(0 0 4px #bc7198);
					outline: none;
				}
			}
			& img:not(.selected) {
				display: none;
			}
			& input#period-yearly {
				appearance: none;
			}
			& input#period-monthly {
				appearance: none;
			}
			& label {
				opacity: 0.6;
				color: #000;
				text-align: center;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
				line-height: 25px; /* 138.889% */
				text-transform: capitalize;
				&.selected {
					opacity: 1;
				}
			}
		}
	}
	& .select-card-wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	& .select-card {
		background-color: var(--light-grey);
		padding-inline: 36px;
		padding-block: 48px;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		text-align: center;
		& h3 {
			text-transform: uppercase;
			margin-block: 0px;
			padding-block-start: 42px;
			padding-block-end: 8px;
			font-size: 24px;
		}
		& p.card-content {
			opacity: 0.6;
		}
		& p.card-extra-context {
			text-transform: uppercase;
			translate: 0 46px;
			opacity: 1;
		}
		& img {
			translate: -33px;
			width: 118%;
			max-height: 285px;
			object-fit: cover;
			object-position: 20% 50%;
		}
		& button {
			color: var(--pure-black);
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 2px;
			padding-inline: 40px;
			padding-block: 12px;
			margin-block: 40px 0px;
		}
		& p.select-card-prize {
			/* opacity: 0.6; */
			& span.prize {
				display: block;
				opacity: 1;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: 48px; /* 120% */
				letter-spacing: 4.167px;
				text-transform: uppercase;
			}
		}
	}
	& .select-card.pro {
		background-color: var(--pure-black);
		color: var(--pure-white);
		position: relative;
		& .select-card-prize {
			& span.prize {
				display: block;
				opacity: 1;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: 48px; /* 120% */
				letter-spacing: 4.167px;
				text-transform: uppercase;
			}
			& span.prize-period {
				display: block;
				opacity: 0.6;
				font-family: var(--font);

				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 25px; /* 166.667% */
			}
		}
		&::before {
			content: '';
			height: 10px;
			width: calc(100% + 72px);
			background-image: var(--accent);
			display: block;
			translate: 0;
			translate: 0px 0px;
			position: absolute;
			top: 0;
			left: 0;
		}
		& button {
			color: var(--pure-black);
			background-color: var(--light-grey);
			text-transform: uppercase;
		}
	}
}

.photo-wrapper {
	display: flex;
	flex-direction: column;

	& .photo-card {
		background-color: var(--pure-white);
		padding-inline: 33px 24px;
		padding-block-end: 70px;
		overflow: hidden;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.27%, rgba(0, 0, 0, 0.66) 100%);
		position: relative;
		&:hover {
			translate: 0 -10px;
			&::after {
				content: '';
				background-image: var(--accent);
				height: 6px;
				width: 100%;
				display: block;
				position: absolute;
				bottom: 0px;
			}
		}
		& h2 {
			text-transform: uppercase;
			margin-block: 0px;
		}

		& img {
			translate: -33px;
			width: 118%;
			/* max-height: 285px; */
			object-fit: cover;
			object-position: 20% 50%;
			aspect-ratio: 1/1;
			mix-blend-mode: multiply;
			margin-bottom: -210px;
		}
		& .photo-card--inner {
			translate: 0 57px;
			position: relative;
			color: var(--pure-white);
		}
		& p.photo-title {
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
		}
		& p.photo-author {
			font-weight: 400;
			font-size: 13px;
			line-height: normal;
			translate: 0 -16px;
		}
		& p.photo-context {
			font-weight: 400;
			font-size: 13px;
			line-height: normal;
			translate: 0 16px;
		}
		& a.photo-link {
			display: block;
			border-top: var(--pure-white-25) 1px solid;
			padding-block-start: 20px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 2px;
		}
	}
	& .card.createbg {
		background-color: var(--pure-black);
		color: var(--pure-white);
	}
}

.about {
	text-align: center;
	& ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-inline-start: 0px;
		flex-wrap: wrap;
		margin: 10px auto;
	}
	& li.about-card {
		margin-block: 16px;
		padding: 16px;
		display: grid;
		grid-template-areas:
			'image'
			'header'
			'content';
		grid-template-rows: 80px 1fr auto;

		& img {
			margin: auto auto;
			grid-area: image;
		}
		& h3 {
			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 25px; /* 138.889% */
			margin-block-end: 16px;
			padding-inline: 16px;
			grid-area: header;
		}
		& p {
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: 25px; /* 166.667% */
			opacity: 0.6;
			padding-inline: 16px;
			grid-area: content;
		}
	}
}
.banner {
	background-image: url('./lib/assets/shared/bg-beta-S.jpg');
	background-size: cover;
	min-height: 280px;
	display: grid;
	grid-template-areas:
		'header'
		'link';
	grid-template-rows: 1fr 1fr;
	& h3 {
		padding-inline: 33px;
		padding-block: 64px;
		color: var(--pure-white);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 40px; /* 125% */
		letter-spacing: 3.333px;
		text-transform: uppercase;
		grid-area: header;
	}
	& a.button-arrow {
		padding-inline: 33px;
		padding-block: 64px;
		grid-area: link;
	}
}

footer {
	background-color: var(--pure-black);
	color: var(--pure-white);
	padding-block: 56px;
	& .footer--inner {
		display: flex;
		flex-direction: column;
		gap: 32px;
		text-align: center;
		max-width: 310px;
		margin: 10px auto;
		& img.logo {
			padding-inline: 64px;
		}
		& p {
			opacity: 0.6;
		}
		& ul {
			list-style: none;
			padding-inline-start: 0px;
			display: flex;
			flex-direction: column;
			gap: 16px;
			&.social-links {
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
}

span.author {
	opacity: 1;
}
a {
	color: var(--pure-white);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2px;
	&.button-arrow::after {
		content: '';
		margin-inline-start: 8px;
		display: inline-block;
		width: 42px;
		height: 12px;
		background-image: url('./lib/assets/shared/desktop/arrow.svg');
	}
	&.dark.button-arrow::after {
		content: '';
		margin-inline-start: 8px;
		display: inline-block;
		width: 42px;
		height: 12px;
		background-image: url('./lib/assets/shared/desktop/arrow-darkbg.svg');
	}
	&.dark.photo-link.button-arrow::after {
		content: '';
		margin-inline-start: 8px;
		display: inline-block;
		width: 42px;
		height: 12px;
		background-image: url('./lib/assets/shared/desktop/arrow-darkbg.svg');
	}
	&:visited {
		color: inherit;
	}
}

.comparisson-block {
	margin-block: 64px;
	margin-inline: 24px;
	text-transform: uppercase;
	& h2 {
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
		&::after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: var(--pure-black);
			display: block;
			margin-block: 23px;
		}
	}
	& ul {
		list-style: none;
		padding-inline-start: 0px;
		& li:first {
			font-size: 12px;
			letter-spacing: 2px;
		}
		& li {
			font-size: 10px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1.667px;
		}
	}
	& ul.inner-list {
		margin-block: 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		margin-block: 23px;
		& li {
			width: calc(100% / 3);
			& span {
				opacity: 0.5;
				display: block;
				margin-block-end: 8px;
			}
		}
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-color: var(--light-grey);
			display: block;
			bottom: -10px;
		}
	}
}

/* @media mobile specific */
@media screen and (max-width: 375px) {
	.wrapper::after {
		display: none;
	}
	.mobile-hidden {
		display: none;
	}
	.card-wrapper .card {
		display: flex;
		flex-direction: column;
	}
	.card-wrapper .card.createbg {
		&::before {
			content: '';
			width: 128px;
			height: 6px;
			display: block;
			background-image: var(--accent);
			border-radius: 0 0 10px 10px;
			translate: 0 -72px;
			position: absolute;
			top: 436px;
			z-index: 10;
		}
	}
	.card-wrapper .card img {
		width: 100vw;
		object-fit: cover;
		object-position: 20% 50%;
	}
	.photo-wrapper .photo-card img {
		width: 100vw;
	}
	.select-card-wrapper {
		& p.card-content {
			opacity: 0.6;
		}
		& .select-card-prize {
			& span.prize {
				display: block;
				opacity: 1;
				text-align: center;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: 48px; /* 120% */
				letter-spacing: 4.167px;
				text-transform: uppercase;
			}
			& span.prize-period {
				display: block;
				opacity: 0.6;
				text-align: center;
				font-family: var(--font);
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 25px; /* 166.667% */
			}
		}
	}
	body {
		max-width: var(--max-phone-width);
	}
}
/* @media tablet specific */
@media screen and (min-width: 768px) {
	.mobile-hidden {
		display: flex;
	}
	.tablet-hidden,
	.desktop-hidden {
		display: none;
	}
	.card-wrapper .card {
		padding-inline: 0px;
		padding-block-end: 0px;
	}
	.card-wrapper .card.picture-right {
		display: grid;
		grid-template-areas:
			'. . picture'
			'header header picture'
			'content content picture'
			'cta cta picture'
			'. . picture';
		grid-template-columns: 1fr 1fr 273px;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card.full-picture {
		display: grid;
		grid-template-areas:
			'. . picture'
			'extra extra picture'
			'header header picture'
			'context context picture'
			'content content picture'
			'cta cta picture'
			'. . picture';
		grid-template-columns: 1fr 1fr 273px;
		grid-template-rows: 173px auto auto auto auto auto 173px;
	}
	.card-wrapper .card.picture-left {
		display: grid;
		grid-template-areas:
			'picture . .'
			'picture header header'
			'picture content content'
			'picture cta cta'
			'picture . .';
		grid-template-columns: 273px 1fr 1fr;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card img {
		grid-area: picture;
		translate: none;
		height: 100%;
		max-height: inherit;
		object-position: center;
		width: 100%;
		aspect-ratio: auto;
	}
	.card-wrapper .card.card.full-picture img {
		grid-area: none;
		grid-column: 1/6;
		grid-row: 1/8;
	}
	.card-wrapper .card h2 {
		grid-area: header;
		padding-inline: 54px;
		font-size: 40px;
		line-height: 48px; /* 120% */
		letter-spacing: 4.167px;
	}
	.card-wrapper .card .card-extra-context {
		grid-area: extra;
		padding-inline: 54px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
		opacity: 1;
		text-transform: uppercase;
	}
	.card-wrapper .card .card-story-context {
		grid-area: context;
		padding-inline: 54px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2px;
	}
	.card-wrapper .card p {
		grid-area: content;
		padding-inline: 54px;
	}
	.card-wrapper .card a {
		grid-area: cta;
		padding-inline: 54px;
	}
	.photo-wrapper {
		display: grid;
		grid-template-areas: 'picture picture';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.photo-wrapper .photo-card {
		width: 100%;
		padding-inline: 0px 0px;
		padding-block-end: 70px;
	}
	.photo-wrapper .photo-card--inner {
		padding-inline: 44px;
	}
	.photo-wrapper .photo-card img {
		/* width: 100%; */
		padding-inline: 0px 0px;
		object-fit: cover;
	}
	.select-card-wrapper {
		& .select-card {
			display: grid;
			grid-template-areas:
				'title prize'
				'planinfo prize'
				'button .';
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto 1fr auto;
			text-align: inherit;
			padding-block: 40px;
			column-gap: 50px;
			position: relative;
			& h3 {
				grid-area: title;
				padding-block-start: 0px;
				padding-block-end: 18px;
				margin-block: 0px;
			}
		}
		& p.card-content {
			opacity: 0.6;
			grid-area: planinfo;
		}
		& .select-card-prize {
			grid-area: prize;
			margin-block: 0px;
			& span.prize {
				display: block;
				opacity: 1;
				text-align: right;
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				line-height: 48px; /* 120% */
				letter-spacing: 4.167px;
				text-transform: uppercase;
			}
			& span.prize-period {
				display: block;
				opacity: 0.6;
				text-align: right;
				font-family: var(--font);
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 25px; /* 166.667% */
			}
			& button {
				grid-area: button;
			}
		}
		& .select-card.pro::before {
			content: '';
			width: 10px;
			min-height: calc(100% * 3.8);
			background-image: var(--accent);
			display: block;
			translate: 0px 0px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.banner {
		background-image: url('./lib/assets/shared/bg-beta-M.jpg');
		background-size: cover;
		min-height: 280px;
		display: grid;
		grid-template-areas: 'header header . link';
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		& h3 {
			padding-inline: 33px;
			padding-block: 64px;
			color: var(--pure-white);
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 40px; /* 125% */
			letter-spacing: 3.333px;
			text-transform: uppercase;
			grid-area: header;
		}
		& a.button-arrow {
			grid-area: link;
			padding-inline: 33px;
			padding-block: 64px;
		}
	}
	footer {
		& .footer--inner {
			display: grid;
			max-width: 689px;
			margin: 64px auto;
			grid-template-areas:
				'logo . cta'
				'links links .'
				'socials . copyright';
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto auto auto;
			text-align: inherit;
			& img.logo {
				grid-area: logo;
				padding-inline: 0px;
			}
			& a.button-arrow {
				grid-area: cta;
				text-align: right;
			}
			& ul.footer-links {
				grid-area: links;
				flex-direction: row;
			}
			& ul.social-links {
				grid-area: socials;
			}
			& p.footer-copyright {
				grid-area: copyright;
				text-align: right;
			}
		}
	}
	body {
		max-width: var(--max-tablet-width);
	}
	span.textalign-right {
		text-align: right;
	}
	.comparisson-table {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding-inline: 28px;
		margin-block-start: 48px;
		margin-block-end: 112px;
		text-transform: uppercase;
		& h2 {
			text-align: center;
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 48px; /* 120% */
			letter-spacing: 4.167px;
		}
		& table {
			text-align: left;
			border-collapse: collapse;
			& thead {
				& tr {
					border-bottom: 1px solid var(--pure-black);
					& th {
						font-weight: 700;
						padding-block: 23px;
						padding-inline: 23px;
					}
				}
			}
			& tbody {
				& tr {
					border-bottom: 1px solid var(--light-grey);
					& td {
						padding-block: 23px;
						padding-inline: 23px;
						text-align: center;
					}
					& td.row-title {
						text-align: left;
						font-size: 12px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						letter-spacing: 2px;
					}
				}
			}
		}
	}
}

/* @media desktop specific */
@media screen and (min-width: 900px) {
	.mobile-hidden {
		display: flex;
	}
	.tablet-hidden,
	.desktop-hidden {
		display: none;
	}
	.card-wrapper .card {
		padding-inline: 0px;
		padding-block-end: 0px;
	}
	.card-wrapper .card.picture-right {
		display: grid;
		grid-template-areas:
			'. . picture'
			'header header picture'
			'content content picture'
			'cta cta picture'
			'. . picture';
		grid-template-columns: 1fr 1fr 273px;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card.picture-right.picture-wide {
		display: grid;
		grid-template-areas:
			'. . picture picture picture'
			'header header picture picture picture'
			'content content picture picture picture'
			'cta cta picture picture picture'
			'. . picture picture picture';
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card.picture-left {
		display: grid;
		grid-template-areas:
			'picture . .'
			'picture header header'
			'picture content content'
			'picture cta cta'
			'picture . .';
		grid-template-columns: 273px 1fr 1fr;
		grid-template-rows: 173px auto auto auto 173px;
	}
	.card-wrapper .card img {
		grid-area: picture;
		translate: none;
		height: 100%;
		max-height: inherit;
		object-position: center;
		width: 100%;
		aspect-ratio: auto;
	}
	.card-wrapper .card h2 {
		grid-area: header;
		padding-inline: 54px;
		font-size: 40px;
		line-height: 48px; /* 120% */
		letter-spacing: 4.167px;
	}
	.card-wrapper .card p {
		grid-area: content;
		padding-inline: 54px;
	}
	.card-wrapper .card a {
		grid-area: cta;
		padding-inline: 54px;
	}
	.photo-wrapper {
		display: grid;
		grid-template-areas: 'picture picture picture picture';
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 370px;
	}
	.photo-wrapper .photo-card {
		width: 100%;
		padding-inline: 0px 0px;
	}
	.photo-wrapper .photo-card .photo-card--inner {
		padding-inline: 44px;
		translate: 0 -194px;
	}
	.photo-wrapper .photo-card img {
		/* width: 100%; */
		padding-inline: 0px 0px;
		object-fit: cover;
		translate: -33px;
		width: 118%;
		max-height: inherit;
		mix-blend-mode: multiply;
		margin-bottom: 0px;
		aspect-ratio: auto;
	}

	.select-plan {
		& .select-plan--inner {
			padding-inline: 28px;
		}
		& .timeperiod-toggle {
			display: flex;
			justify-content: center;
		}
		& .select-card-wrapper {
			display: grid;
			grid-template-areas: 'basic pro business';
			grid-template-columns: 1fr 1fr 1fr;
			gap: 24px;
		}

		& .select-card {
			background-color: var(--light-grey);
			padding-inline: 36px;
			padding-block: 48px;
			overflow-x: hidden;
			display: flex;
			flex-direction: column;
			text-align: center;
			& h3 {
				text-transform: uppercase;
				margin-block: 0px;
				padding-block-start: 42px;
				padding-block-end: 8px;
				font-size: 24px;
			}
			& p.card-content {
				opacity: 0.6;
			}
			& .select-card-prize {
				& span.prize {
					display: block;
					opacity: 1;
					text-align: center;
					font-size: 40px;
					font-style: normal;
					font-weight: 700;
					line-height: 48px; /* 120% */
					letter-spacing: 4.167px;
					text-transform: uppercase;
				}
				& span.prize-period {
					display: block;
					opacity: 0.6;
					text-align: center;
					font-family: var(--font);

					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					line-height: 25px; /* 166.667% */
				}
			}
			& img {
				translate: -33px;
				width: 118%;
				max-height: 285px;
				object-fit: cover;
				object-position: 20% 50%;
			}
			& button {
				color: var(--pure-black);
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: 2px;
				padding-inline: 40px;
				padding-block: 12px;
				margin-block: 40px 0px;
			}
		}
		& .select-card.pro {
			background-color: var(--pure-black);
			color: var(--pure-white);
			padding-block: 96px;
			position: relative;
			&::before {
				content: '';
				height: 10px;
				min-height: inherit;
				width: calc(100% + 72px);
				background-image: var(--accent);
				display: block;
				translate: 0px 0px;
				position: absolute;
				top: 0;
				left: 0;
			}
			& button {
				color: var(--pure-black);
				background-color: var(--light-grey);
				text-transform: uppercase;
			}
		}
	}

	footer {
		& .footer--inner {
			display: grid;
			/* max-width: 1104px; */
			gap: 16px 36px;
			margin: 64px auto;
			grid-template-areas:
				'logo links cta'
				'. links .'
				'socials links copyright';
			grid-template-columns: 255px 1fr 1fr;
			grid-template-rows: auto auto auto;
			text-align: inherit;
			& img.logo {
				grid-area: logo;
				padding-inline: 0px;
			}
			& a.button-arrow {
				grid-area: cta;
			}
			& ul.footer-links {
				grid-area: links;
				flex-direction: column;
				margin-block-start: 0px;
			}
			& ul.social-links {
				grid-area: socials;
			}
			& p.footer-copyright {
				grid-area: copyright;
			}
		}
	}
	.about ul {
		max-width: var(--min-desktop-width);
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		& li {
			max-width: calc(var(--min-desktop-width) / 4);
		}
	}
	body {
		max-width: var(--max-desktop-width);
	}
	.about {
		text-align: center;
	}
}

@media screen and (min-width: 1080px) {
	.photo-wrapper .photo-card .photo-card--inner {
		padding-inline: 44px;
		translate: 0 -23px;
	}
	.photo-wrapper .photo-card img {
		/* width: 100%; */
		padding-inline: 0px 0px;
		object-fit: cover;
		translate: -33px;
		width: 118%;
		max-height: inherit;
		mix-blend-mode: multiply;
		margin-bottom: -273px;
	}
}
